// Variables

// Sketchy 5.0.0-beta2
// Bootswatch

$theme: "sketchy";

//
// Color system
//

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #f7f7f9;
$gray-300: #dee2e6;
$gray-400: #ccc;
$gray-500: #aaa;
$gray-600: #868e96;
$gray-700: #555;
$gray-800: #333;
$gray-900: #212529;
$black:    #000;

$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

$primary:       $gray-800;
$secondary:     $gray-700;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $white;
$dark:          $gray-700;

$min-contrast-ratio:   1.6;

// Links

$link-decoration:           underline;

// Components

$border-width:              2px;
$border-radius:             25px;
$border-radius-lg:          35px;
$border-radius-sm:          15px;

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:      Neucha, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-weight-base:            700;
$headings-font-family:        "Cabin Sketch", cursive;

$blockquote-small-color:      $gray-800;

// Tables

$table-accent-bg:             $gray-400;
$table-hover-bg:              $white;
$table-border-width:          2px;
$table-border-color:          $gray-800;

// Forms

$input-border-color:                $gray-800;
$input-focus-border-color:          $input-border-color;

// Dropdowns

$dropdown-border-color:             $gray-800;
$dropdown-divider-bg:               $gray-800;
$dropdown-link-hover-color:         $white;
$dropdown-link-hover-bg:            $gray-800;

// Navs

$nav-tabs-border-color:             $gray-800;
$nav-tabs-link-hover-border-color:  $gray-800;
$nav-tabs-link-active-color:        $gray-800;
$nav-tabs-link-active-border-color: $gray-800;

// Navbar

$navbar-dark-color:                 $white;
$navbar-dark-hover-color:           $white;
$navbar-dark-toggler-border-color:  $white;
$navbar-light-color:                $gray-800;
$navbar-light-hover-color:          $gray-800;
$navbar-light-active-color:         $gray-800;
$navbar-light-toggler-border-color: $gray-800;

// Pagination

$pagination-border-color:           $gray-800;
$pagination-hover-color:            $white;
$pagination-hover-bg:               $gray-800;
$pagination-hover-border-color:     $gray-800;
$pagination-disabled-color:         $gray-400;
$pagination-disabled-border-color:  $gray-800;

// Cards

$card-border-width:                 2px;
$card-border-color:                 $gray-800;

// Popovers

$popover-border-color:              $gray-800;

// Badges

$badge-padding-y:                   .5em;
$badge-padding-x:                   1.2em;

// Toasts

$toast-border-width:                2px;
$toast-border-color:                $gray-800;
$toast-header-color:                $gray-800;
$toast-header-border-color:         $toast-border-color;

// Modals

$modal-content-border-color:        $gray-800;
$modal-header-border-color:         $gray-800;

// Progress bars

$progress-bg:                       $white;
$progress-bar-bg:                   $gray-400;

// List group

$list-group-border-color:           $gray-800;
$list-group-hover-bg:               $gray-300;
$list-group-active-color:           $white;
$list-group-active-bg:              $gray-800;
$list-group-action-color:           $gray-800;

// Breadcrumbs

$breadcrumb-padding-y:              .375rem;
$breadcrumb-padding-x:              .75rem;
$breadcrumb-divider-color:          $gray-800;
$breadcrumb-active-color:           $gray-800;
$breadcrumb-border-radius:          .25rem;

// Close

$btn-close-color:            inherit;
$btn-close-opacity:          1;
$btn-close-hover-opacity:    1;
$btn-close-focus-shadow:     none;

@import '../node_modules/bootstrap/scss/bootstrap';

@import '../docs/joeswatch/bsw-sketchy';
