// Variables

// Cerulean 5.0.0-beta2
// Bootswatch

$theme: "cerulean";

//
// Color system
//

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$blue:    #033c73;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #c71c22;
$orange:  #fd7e14;
$yellow:  #dd5600;
$green:   #73a839;
$teal:    #20c997;
$cyan:    #2fa4e7;

$primary:       $cyan;
$secondary:     $gray-200;
$success:       $green;
$info:          $blue;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

$min-contrast-ratio:   2.75;

// Body

$body-color:    $gray-700;

// Fonts

$headings-color:         $cyan;

// Dropdowns

$dropdown-link-color:           $body-color;
$dropdown-link-hover-color:     $white;
$dropdown-link-hover-bg:        $primary;

// Navbar

$navbar-dark-color:             rgba($white, .8);
$navbar-dark-hover-color:       $white;


@import '../node_modules/bootstrap/scss/bootstrap';

@import '../docs/joeswatch/bsw-cerulean';
