// Variables

// Sandstone 5.0.0-beta2
// Bootswatch

$theme: "sandstone";

//
// Color system
//

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #f8f5f0;
$gray-300: #dfd7ca;
$gray-400: #ced4da;
$gray-500: #98978b;
$gray-600: #8e8c84;
$gray-700: #495057;
$gray-800: #3e3f3a;
$gray-900: #212529;
$black:    #000;

$blue:    #325d88;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #d9534f;
$orange:  #f47c3c;
$yellow:  #ffc107;
$green:   #93c54b;
$teal:    #20c997;
$cyan:    #29abe0;

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $orange;
$danger:        $red;
$light:         $gray-200;
$dark:          $gray-800;

$min-contrast-ratio:   2;

// Body

$body-color:                $gray-800;

// Links

$link-color:                $success;

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:      Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$headings-font-weight:        400;

// Dropdowns

$dropdown-link-color:               $gray-600;
$dropdown-link-hover-color:         $dropdown-link-color;
$dropdown-link-hover-bg:            $gray-200;
$dropdown-link-active-color:        $dropdown-link-color;
$dropdown-link-active-bg:           $dropdown-link-hover-bg;

// Navs

$nav-link-padding-x:                .9rem;
$nav-link-disabled-color:           $gray-300;
$nav-tabs-border-color:             $gray-300;
$nav-tabs-link-hover-border-color:  $gray-300;
$nav-tabs-link-active-bg:           $white;
$nav-pills-link-active-color:       $gray-600;
$nav-pills-link-active-bg:          $gray-200;

// Navbar

$navbar-dark-hover-color:           $white;
$navbar-light-hover-color:          $black;
$navbar-light-active-color:         $black;

// Pagination

$pagination-color:                  $gray-600;
$pagination-bg:                     $gray-200;
$pagination-border-color:           $gray-300;
$pagination-hover-color:            $pagination-color;
$pagination-active-color:           $pagination-color;
$pagination-active-bg:              $gray-300;
$pagination-active-border-color:    $gray-300;
$pagination-disabled-color:         $gray-300;
$pagination-disabled-bg:            $gray-200;
$pagination-disabled-border-color:  $pagination-border-color;

// Cards

$card-border-color:                 rgba($gray-300, .75);
$card-cap-bg:                       rgba($gray-200, .25);

// Popovers

$popover-header-bg:                 $gray-200;

// Modals

$modal-content-border-color:        $gray-300;
$modal-header-border-color:         $modal-content-border-color;

// Progress bars

$progress-bg:                       $gray-300;
$progress-border-radius:            10px;
$progress-bar-color:                $primary;

// List group

$list-group-border-color:           $gray-300;
$list-group-hover-bg:               $gray-200;
$list-group-active-color:           $body-color;
$list-group-active-bg:              $gray-200;
$list-group-active-border-color:    $gray-300;
$list-group-disabled-color:         $gray-500;
$list-group-disabled-bg:            $white;
$list-group-action-color:           $list-group-active-color;
$list-group-action-active-color:    $list-group-active-color;
$list-group-action-active-bg:       $gray-300;

// Breadcrumbs

$breadcrumb-padding-y:              .375rem;
$breadcrumb-padding-x:              .75rem;
$breadcrumb-bg:                     $pagination-bg;
$breadcrumb-border-radius:          .25rem;

// Close

$btn-close-color:            $white;
$btn-close-opacity:          .8;
$btn-close-hover-opacity:    1;

@import '../node_modules/bootstrap/scss/bootstrap';

@import '../docs/joeswatch/bsw-sandstone';
