// Variables

// Morph 5.0.0-beta2
// Bootswatch

$theme: "morph";

//
// Color system
//

$white:    #fff;
$gray-100: #f0f5fa;
$gray-200: #d9e3f1;
$gray-300: #dee2e6;
$gray-400: #bed1e6;
$gray-500: #adb5bd;
$gray-600: #7f8a99;
$gray-700: #7b8ab8;
$gray-800: #444b40;
$gray-900: #212529;
$black:    #000;

$blue:    #378dfc;
$indigo:  #6610f2;
$purple:  #5b62f4;
$pink:    #d63384;
$red:     #e52527;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #43cc29;
$teal:    #20c997;
$cyan:    #0dcaf0;

$primary:       $blue;
$secondary:     $gray-200;
$success:       $green;
$info:          $purple;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;

$min-contrast-ratio:   1.5;

$enable-shadows:              true;

// Body

$body-bg:                   $gray-200;
$body-color:                $gray-700;

// Links

$link-color: darken($body-color, 20%);

// Components

$border-width:                0;
$border-color:                rgba(darken($body-bg, 50%), .1);

$border-radius-pill:          50rem;

$box-shadow:                  5px 5px 10px rgba(darken($body-bg, 50%), .2), -5px -5px 10px rgba($white, .4);
$box-shadow-sm:               0 .125rem .25rem rgba(darken($body-bg, 50%), .2);
$box-shadow-lg:               8px 8px 40px rgba(darken($body-bg, 90%), .15);
$box-shadow-inset:            inset 2px 2px 8px rgba(darken($body-bg, 50%), .3), inset -3px -2px 5px rgba($white, .8);

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:      Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$headings-color:              $link-color;

$text-muted:                  lighten($body-color, 15%);

// Buttons + Forms

$input-btn-padding-y:         1rem;
$input-btn-padding-x:         1.5rem;

// Buttons

$btn-font-weight:             600;

$btn-padding-y-lg:            1.5rem;
$btn-padding-x-lg:            2.25rem;

$btn-box-shadow:              $box-shadow;

$btn-border-radius:           $border-radius-pill;
$btn-border-radius-sm:        $border-radius-pill;
$btn-border-radius-lg:        $border-radius-pill;

// Forms

$form-label-font-weight:                $btn-font-weight;

$input-bg:                              $gray-100;

$input-placeholder-color:               $text-muted;

$form-switch-color:               $white;
$form-switch-focus-color:         $form-switch-color;

$form-select-indicator-color:       $body-color;
$form-select-box-shadow:          $box-shadow-inset;

$form-range-track-bg:             rgba(darken($body-bg, 50%), .15);
$form-range-thumb-bg:                      $gray-100;
$form-range-thumb-active-bg:               $form-range-thumb-bg;
$form-range-thumb-disabled-bg:             $gray-200;

$form-file-button-bg:             $gray-100;

// Navs

$nav-link-color:                    $body-color;
$nav-link-hover-color:              $nav-link-color;
$nav-link-disabled-color:           $text-muted;

$nav-tabs-border-radius:            0;
$nav-tabs-link-active-color:        $white;
$nav-tabs-link-active-bg:           $primary;

// Navbar

$navbar-dark-color:                 rgba($white, .75);
$navbar-dark-hover-color:           $white;
$navbar-dark-active-color:          $navbar-dark-hover-color;
$navbar-dark-disabled-color:        rgba($white, .25);

$navbar-light-color:                $body-color;
$navbar-light-hover-color:          $link-color;
$navbar-light-active-color:         $navbar-light-hover-color;
$navbar-light-disabled-color:       $text-muted;

// Dropdowns

$dropdown-bg:                       rgba($gray-100, .8);
$dropdown-border-color:             transparent;
$dropdown-box-shadow:               $box-shadow-lg, inset 1px 1px 3px rgba($white, .5), inset -5px -5px 20px rgba($black, .05);

$dropdown-link-color:               $gray-700;
$dropdown-link-hover-color:         $gray-800;
$dropdown-link-hover-bg:            transparent;

// Pagination

$pagination-padding-y:              1rem;
$pagination-padding-x:              .75rem;
$pagination-padding-y-sm:           .5rem;
$pagination-padding-y-lg:           1.5rem;

$pagination-color:                  $gray-700;
$pagination-bg:                     $body-bg;

$pagination-active-color:           darken($pagination-color, 20%);
$pagination-active-bg:              transparent;

$pagination-disabled-color:         $text-muted;

$pagination-disabled-bg:            $pagination-bg;

// Cards

$card-spacer-y:                     1.5rem;
$card-spacer-x:                     1.5rem;
$card-cap-bg:                       transparent;
$card-bg:                           lighten($body-bg, 3%);

// Tooltips

$tooltip-color:                     $body-color;
$tooltip-bg:                        $dropdown-bg;

// Popovers

$popover-bg:                        $dropdown-bg;

$popover-header-bg:                 transparent;

// Toasts

$toast-background-color:            $dropdown-bg;
$toast-border-width:                0;

$toast-header-color:                $body-color;
$toast-header-background-color:     transparent;

// Badges

$badge-padding-y:                   .75em;
$badge-padding-x:                   1.25em;

// Modals

$modal-content-bg:                  $dropdown-bg;

// Progress bars

$progress-height:                   1.5rem;
$progress-border-radius:            $border-radius-pill;

// List groups

$list-group-bg:                     $card-bg;

$list-group-hover-bg:               transparent;
$list-group-active-color:           $link-color;
$list-group-active-bg:              transparent;

$list-group-disabled-color:         $text-muted;
$list-group-disabled-bg:            transparent;

$list-group-action-active-color:    $link-color;
$list-group-action-active-bg:       transparent;

// Breadcrumbs

$breadcrumb-padding-y:              $pagination-padding-y;
$breadcrumb-padding-x:              $pagination-padding-x;

$breadcrumb-divider-color:          $text-muted;
$breadcrumb-active-color:           $link-color;

// Close

$btn-close-color:            $body-color;

@import '../node_modules/bootstrap/scss/bootstrap';

@import '../docs/joeswatch/bsw-morph';
