// Variables


//Flatly Variables

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #ecf0f1;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #b4bcc2;
$gray-600: #95a5a6;
$gray-700: #7b8a8b;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$blue:    #2c3e50;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #e74c3c;
$orange:  #fd7e14;
$yellow:  #f39c12;
$green:   #18bc9c;
$teal:    #20c997;
$cyan:    #3498db;

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-200;
$dark:          $gray-700;

$min-contrast-ratio:   2.15;

// Links

$link-color:                $success;

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:      Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$h1-font-size:                3rem;
$h2-font-size:                2.5rem;
$h3-font-size:                2rem;

// Tables

$table-accent-bg:             $gray-200;

// Dropdowns

$dropdown-link-color:               $gray-700;
$dropdown-link-hover-color:         $white;
$dropdown-link-hover-bg:            $primary;

// Navs

$nav-link-padding-y:                .5rem;
$nav-link-padding-x:                2rem;
$nav-link-disabled-color:           $gray-600;
$nav-tabs-border-color:             $gray-200;

// Navbar

$navbar-padding-y:                  1rem;
$navbar-dark-color:                 $white;
$navbar-dark-hover-color:           $success;

// Pagination

$pagination-color:                  $white;
$pagination-bg:                     $success;
$pagination-border-width:           0;
$pagination-border-color:           transparent;
$pagination-hover-color:            $white;
$pagination-hover-bg:               darken($success, 15%);
$pagination-hover-border-color:     transparent;
$pagination-active-bg:              $pagination-hover-bg;
$pagination-active-border-color:    transparent;
$pagination-disabled-color:         $gray-200;
$pagination-disabled-bg:            lighten($success, 15%);
$pagination-disabled-border-color:  transparent;

// List group

$list-group-hover-bg:               $gray-200;
$list-group-disabled-bg:            $gray-200;

// Breadcrumbs

$breadcrumb-padding-y:              .375rem;
$breadcrumb-padding-x:              .75rem;
$breadcrumb-border-radius:          .25rem;

// Close

$btn-close-color:            $white;
$btn-close-opacity:          .4;
$btn-close-hover-opacity:    1;

// End Flatly

@import '../node_modules/bootstrap/scss/bootstrap';

@import '../docs/joeswatch/bsw-flatly';
