// for dist/bs5easy Project
$primary: #401f7c;
$secondary: #f4f4f4;
$border-radius: 0;
$border-radius-sm: 0;
$border-radius-lg: 0;

$utilities: () !default;
$utilities: map-merge(
  (
    'input-padding': (
      property: padding,
      class: ip,
      values: (
        0: 0,
        1: 0.3rem,
        2: 0.5rem,
        3: 0.7rem,
        4: 0.9rem,
        5: 1rem,
      ),
    ),
  ),
  $utilities
);

@import '../node_modules/bootstrap/scss/bootstrap';

@import '../docs/bs5easy/styles';
